# Python / Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Log files
*.log
